# Ignore node_modules folder
node_modules

# Ignore files related to API keys
*.env

# Ignore login file
scraper/login.py

# Ignore pycache
scraper/__pycache__

# Ignore uploads
public/uploads

# Ignore idea
.idea

#Ignore scraper
scraper

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
