# Ignore node_modules folder
node_modules

# Ignore files related to API keys
*.env

# Ignore login file
scraper/login.py

# Ignore uploads folder
public/uploads

# Ignore fonts folder
public/fonts

# Ignore images folder
public/images

# Ignore pycache
scraper/__pycache__

# Ignore idea
.idea

#Ignore scraper
scraper
