html {
    width: 100%; 
    height: 100%; 
    margin: 0 auto; 
    padding: 0;
    font-family: "Titillium";
  }
  
  body {
    width: 100%; 
    height: 100%; 
    margin: 0 auto; 
    padding: 0;
  }
  
  #index {
    width: 100%; 
    height: 100%; 
    margin: 0 auto; 
    padding: 0;
    font-family: "Titillium";
  }
  
  .logo {
    height: 3rem;
   }

  #background {
  width: 100%;
  height: 90%;
  background-size: cover;
  z-index: -10;
  }
  
  .top-container {
    background-color: white;
  }
  @font-face {
  font-family: "Titillium";
  src: url("../fonts/TitilliumWeb-Regular.ttf");
  }
  
  .main-text {
  max-width: 1000px;
  margin: 0 auto;
  text-align: center;
  position: relative;
  top: -85%;
  }
  
  .font-weight-bold {
  font-weight: 700;
  font-size: 3rem;
  }
  
  .subheader {
    font-weight: lighter;
  }
  
  .sublet-title {
    margin-top: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  
  .container-display {
    text-align: center;
    position: relative;
    display: flex;
    margin: 0 auto;
  }
  

  .card-img {
    cursor: pointer; 
    max-height: 250px;
    min-height: 200px;
  }
  
  .card-img:hover {opacity: 0.5;}
  
  .card-title {
    font-size: 30px;
    margin-top: 10px;
  }
  
  .card-body {
    margin-top: -27px;
  }
  
  h6 {
    font-size: 20px;
  }
  
  .availabilityText {
    color: white;
  }
  
  .card-text, .availabilityText {
    font-size: 17px;
  }
  
  .mb-3 {
      margin: 35px auto;
  }
  
  .container-cards {
    border: 1px solid #cdd6e1;
    border-radius: 20px;
    max-width: 1100px;
    margin: auto auto 50px;
    background-color: lightgray;
  }
  
  .card-deck {
    margin:  30px auto;
  }
  
  
  
  /* Caption of Modal Image (Image Text) - Same Width as the Image */
  #caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
  }
  
  @keyframes zoom {
    from {transform:scale(0)}
    to {transform:scale(1)}
  }
  
  /* The Close Button */
  .close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
  }
  
  .close:hover,
  .close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
  }
  

  
  /* .text-input-range-inner {
  display: flex;
  align-items: baseline;
  } */
  
  ul {
  list-style: none;
  }
  
  #favorite {
  position: absolute; 
  top:0;
  right: 0;
  z-index: 1;
  cursor: pointer;
  font-size: 28px;
  color: red;
  }
  
  .modal-body, .modal-label{
      font-family: "Titillium";
      font-size: 20px;
  }
  
  .nav-item {
  font-size: 18px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding-left: 5px;
  padding-right: 5px;
  }
  
  .nav-item :hover {
   color: darkblue !important;
  }
  
  .navbar{
  background-color: white !important;
  }
  
  #navbarNav {
    text-align: center;
  }
  .aptName {
  text-align: center;
  }
  
  .title-border {
    border: 2px solid; 
    border-color: lightgray; 
    border-radius: 100px;
  }
  .other-features {
    display: flex;
    max-width: 1000px;
    margin-right: auto;
    margin-left: auto;
  }
  .info-card {
    width: 30%;
    margin: 0 auto;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px; /* 5px rounded corners */
    background-color: white;
  }
  
  /* On mouse-over, add a deeper shadow */
  .info-card:hover {
    box-shadow: 0 8px 32px 0 rgba(0,0,0,0.2);
  }
  
  /* Add some padding inside the card container */
  .info-card-container {
    padding: 2px 16px;
  }
  
  .bottom {
    position: relative;
    top: -150px;
  }
  
  .external {
    text-align: center;
    position: relative;
    top: -30px;
  }
  
  .features-message {
    font-size: 40px;
  }
  .card-top {
    font-size: 30px;
  }
  
  .card-mid-text {
    font-size: 20px;
  }  

  .card-header-top {
      display: flex;
  }

  .card-header-top .btn {
      position: absolute;
      top: 0;
      right: 0;
      max-width: 100px;
  }

  svg {
      width: 15px;
      height: 15px;
  }

  #person {
      width: 20px;
      height: 20px;
  }
  .card {
    margin-bottom: 50px !important;
    box-shadow: 0 14px 14px rgba(0,0,0,.25);
    width: 840px; 
    padding: 0px;
  }

  .card:hover {
    box-shadow: 0 20px 20px rgba(0,0,0,.25);
  }
  .card-footer-bottom {
      padding: 1.5rem;
      padding-top: 0px;
  }

  .card-footer-bottom p {
      position: relative;
      float: right;
      font-size: 20px;
  }
  #person {
    vertical-align: middle;
    height: 25px;
    width: 25px;
  }

  #myModal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 5; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
  }
  
  /* Modal Content (Image) */
  .modal-content-img {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
  }
  
  
  
  /* Caption of Modal Image (Image Text) - Same Width as the Image */
  #caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
  }
  
  /* Add Animation - Zoom in the Modal */
  .modal-content-img, #caption {
    animation-name: zoom;
    animation-duration: 0.6s;
  }
  
  @keyframes zoom {
    from {transform:scale(0)}
    to {transform:scale(1)}
  }
  
  /* The Close Button */
  .close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
  }
  
  .close:hover,
  .close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
  }
  
  /* 100% Image Width on Smaller Screens */
  @media only screen and (max-width: 700px){
    .modal-content-img {
      width: 100%;
    }
  }


.search {
  max-width: 550px; 
  background-color: white; 
  padding:20px; 
  text-align: center;
  margin-bottom: 20px;
  border-radius: 10px 10px;
}

.searchTerm {
  /* border: 3px solid #00B4CC; */
  border: 3px solid slategray;
  border-right: none;
  padding: 5px;
  border-radius: 5px 5px 5px 5px;
  outline: none;
  color: black;
  padding: 0;
  height: 40px;
}

.post {
  background-color: slategray;
  border: gray;
}

.post:hover {
  background: darkblue;
}
.searchTerm:focus{
  color: black;
}

.searchButton:hover {
  background: darkblue;
}

.searchButton {
  width: 40px;
  height: 40px;
  /* border: 1px solid #00B4CC; */
  border: 1px solid slategray;
  /* background: #00B4CC; */
  background: slategray;
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
}


.form-row {
  margin-bottom: 15px;
}

.gender {
  color: #007bff;
}

.info-tooltip {
  cursor: pointer;
}

.interested-description, .unit-description, .furniture-description {
  white-space: pre-wrap;
}
.imageThumb {
  max-height: 75px;
  border: 2px solid;
  padding: 1px;
  cursor: pointer;
}
.pip {
  display: inline-block;
  margin: 10px 10px 0 0;
}
.remove {
  display: block;
  background: #444;
  border: 1px solid black;
  color: white;
  text-align: center;
  cursor: pointer;
}
.remove:hover {
  background: white;
  color: black;
}

.btn-file {
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

.btn-file input[type=file] {
  display:none;
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    background: white;
    cursor: inherit;
    display: block;
}

.carousel-indicators {
  z-index: 4;
  background-color: black;
  padding: 2%;
  opacity: 0.5;
  margin-bottom: 0px;
  bottom: 0;
  width: 100%;
  margin-left: 0px;
}

.carousel-control-prev-icon, .carousel-control-next-icon {
  background-color: black;
}
.carousel-indicators li {
  width: 1em;
  height: 1em;
  border-radius: 100%;
}
.page-footer {
  margin-top: 30px;
  background-color: slategrey;
  padding: 20px;

}

.footer {
  display: flex;
  align-items: center;
  padding: 0px;
}
.footer-logo {
  height: 2.5rem;
}

.footer-copyright {
  display: flex;
  align-items: center;
  color: #E7E4E4;
  padding: 0px;
}

.copyright {
  position:relative;
  top: 0.2rem;
  display: flex;
  font-size: 1.3rem;

}
.privacy a {
  font-weight: 700;
  color: #E7E4E4;
  text-decoration: none;
  font-size: 1.3rem;
  font-family: "Titillium";
}
.privacy a:hover {
  color: white;
}

.privacy {
  text-align: right;
}


.socialMedia {
  background-color: transparent;
    border: none;
    font: inherit;
    color: inherit;
    cursor: pointer;
    text-align: left;
    width: 100%;
    font-size: 1.1rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.donate {
  padding: 7px 10px!important;
  text-align: center;
  align-items: center;
  background-color: transparent!important;
  border-radius: 5px!important;
  border: 1px solid gray;
  color: gray;
  font-size: 1.1rem;
  -webkit-box-sizing: border-box!important;
  box-sizing: border-box!important;
  -o-transition: .2s all linear!important;
  -webkit-transition: all .2s linear!important;
  -moz-transition: .2s all linear!important;
  -ms-transition: .2s all linear!important;
  transition: all .2s linear!important;
}

.donate:hover {
  background-color: slategray !important;
  color: white !important;
}

.social-icons{
  height: auto;
  width: auto;
}

.noresults {
  display: flex;
  align-items: center;
  text-align: center;
}
.noposts {
  width:60%;
  margin: 0 auto;
}

.none-message {
  font-family: "Titillium";
  font-size: 25px;

}

.no-message {
  text-align: center;
}